/cmake-build-debug/*
/new_generated/*
/build/*
/third_party/antlr4-cpp-runtime-4.7.2/*
/*.zip
/.idea/*
/*.doc
/*.docx

/*.o
/CMakeFiles/*
/*.cmake
/makefile
/CMakeCache.txt
/main
/src/python_interpreter
/*.a
/cmake/*